// Container
$containerWidth: 1296px;

// Colors
$white: #fff;
$gray: rgba(255, 255, 255, 0.56);
$black: #080808;
$dark: #0e0e0e;
$darkLight: rgba(8, 8, 8, 0.56);

$scrollColor: #bcbcbc;
$backgroundColor: #fff;